<% content_for :title, "Home" %>

<div class="row">

  <div class="home-header">
    <div class="home-header-top">
      <div class="home-header-image">
        <%= image_tag("http://placehold.it/1000x400") %>
      </div>
    </div>
    <div class="home-header-bottom hide-for-medium-down">
      <div>
        <%= image_tag("http://placehold.it/190x66") %>
        <!--
        image_tag("family-img-2.jpg", size: "190x66")
        image_tag("family-img-3.jpg", size: "190x66")
        image_tag("family-img-4.jpg", size: "190x66")
        -->
        image one
      </div>
      <div>
        <%= image_tag("http://placehold.it/190x66", size: "190x66") %>
        image two
      </div>
      <div>
        <%= image_tag("http://placehold.it/190x66", size: "190x66") %>
        image three
      </div>
    </div>
  </div>

  <div class="medium-7 columns">
    <div class="posts-home">
      <h3>Most recent posts</h3>
      <% @posts.limit(10).reverse_each do |post| %>
        <div>
          <p><%= post.post_text %></p>
          <p>- <span class="posted-by-name"><%= post.posted_by %></span> <span class="posted-at"><%= post.created_at.strftime("%d %b %y") %></span></p>
          <!-- <td><%= link_to 'Show', post %></td> -->
          <hr />
        </div>
      <% end %>
    </div>
  </div>
  <div class="medium-5 columns">
    <div id='calendar'></div>
    links and stuff here too?
  </div>
</div>
