<% content_for :title, "Image" %>

<div class="row">
  <div class="small-11 small-centered columns">
    <h3><%= @image.name %></h3>
    <p><%= @image.description %></p>

    <p>
      <%= image_tag(@image.picture_url) if @image.picture.present? %>
    </p>

    <% if current_user.name == @image.uploaded_by || current_user.username == "elizabethh" %>
      <%= link_to 'Edit this image', edit_image_path(@image), class: "button" %>
    <% end %>

    <h3>Comments</h3>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user_name %></strong>
        <br />
        <p><%= comment.body %></p>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
    <%= render 'comments/form' %>

    <%= link_to 'Back', images_path %>
  </div>
</div>
